
.weather{
   text-align:center;
   margin-top: 50px;
   background-color:lightblue;
   padding: 20px;
   
  }
  .inputCity{
    padding:10px;
    width:300px;
  }
  .handleButton{
    padding: 10px 20px;
    margin-left: 10px;
  }